*
{
    margin: 0;
    padding: 0;

}

/*--------Navigation---------*/

#nav-bar
{
    position:sticky;
    top:0;
    z-index:10;
}

.navbar-brand
{
    padding-left: 20px;
    color: #007bff!important;
}

.navbar-nav li
{
    padding: 0 10px;
    
}

.navbar-nav li a
{
    float: right;
    text-align: left
}

#nav-bar ul li a:hover
{
    color: #007bff!important;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

/*--------Carousel---------*/
#slider
{
    width:100%;
}

.carousel-item
{
    height:95vh;
}
.carousel-caption
{
    top:50%;
    transform: translateY(-50%);
    bottom: initial!important;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../picture.jpg);
    
}

.carousel-caption h5
{
    color: #fff;
    font-size: 42px;
}

/*--------About---------*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn
{
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: white;
    border: 2px solid #007bff;
}

#about .btn:hover {
  background-color: #007bff;
  cursor: pointer;
  color: #ffffff !important;
  transition:0.5s ease;
}


#about .resume:hover {
  cursor: pointer;
  color: #ffffff !important;
  transition:0.5s ease;
}

.about-content
{
    padding-top: 5px;
    
}

.profilepic img
{
    height:450px;
    padding-left: 130px;
}

#about .Amb
{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #007bff;
    border: 2px solid #007bff;
}

#about .Ambassador
{
  cursor: pointer;
  color: #ffffff !important;
  transition:0.5s ease;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}



/*--------Experiences---------*/
#experiences
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../exp.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#experiences h1
{
    text-align: center;
    color:  #efefef !important;
    padding-bottom: 50px;
}

#experiences h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
}

.experiences
{
    margin-top: 40px;
    
}

.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 10px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#experiences p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
    
}

.experiences .col-md-3:hover{
    background: #007bff;
    cursor:pointer;
    transition:0.7s ease;
}

/*--------projects------*/
#projects
{
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.d-flex {
  align-items: center;
}

.proj{
      overflow: hidden;
      height: 30vh;
    
      
    }


/*--------Skills---------*/
#skills
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    
}

h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
    
}

h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
    
}

.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}

.progress-bar
{
    border-radius: 16px;
}

.progress
{
    border-radius: 16px!important;
    margin-bottom: 20px;
}





/*--------eBOOK---------*/

#eBook
{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00346D;
    color: #efefef!important;
    
}

#eBook h1
{
    color:  #efefef !important;
  
}

#eBook .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
}



.eBook-content
{
    padding-top: 5px;
    
}

.titlepage img
{
    height:250px;
    padding-left: 200px;
}




/*--------Get in Touch------*/
#contact
{
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.contact-form
{
    padding: 15px;
    
}

.form-control
{
    border-radius: 0 !important;
    border: none !important;
}

::placeholder
{
  color: #999 !important;  
}


.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info.fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}